

/**********************************************************************************************/

/*start search */
#search
{
	width: 20%;
	height: 97%;
	background-color:#fff;
	text-align: center;
	float: right;
	display: inline-block;
	position: fixed;
	left:80%;
}
#search img
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin:-10% 0% 0% 0;

}


/* end search */

/**********************************************************************************************/

/* start result */

/**********************************************************************************************/

#result
{
	width: 80%;
	max-height: 70%;
	background-color:rgba(79,84,103,0.1);
	overflow:auto;
	margin: auto;
	margin-top: 2%;
	border-radius: 4px;
	font-size:0.8em;
	border: 1px solid white !important;
}
#result img
{
	width:70px;
	height: 70px;
	float: left;
	padding-top: 10px;
	margin-left: 5px
	

	
}
#result h2
{
	display:inline;
}
#result input
{
	float: right;
	margin:2% 3% 0.3% 0;
	background-color: rgba(255,255,255,0.4);
	border-radius: 4px;
	
}
.clear
{
	clear: both;
}
/* end result */

/*********************************************************************************************************/

#messageBox
{
	width: 50%;
	height: 100%;
	background-color:#fff;
	margin-left:23.5%;
	border-radius: 4px;
	text-align: center;
	overflow:auto;
	margin-top: 5%;
}
/* end massage box*/

/**********************************************************************************************/
#me .post
{
	width: 95%;
	min-height:100px;
	margin: auto;
	margin-top:0%;
	position: relative;
	text-align: left;
	background-color:#fff;
}
#me .post img:first-child
{
	width: 50px;
	height: 50px;
	border-radius:50%;
	margin:0.4% 0.4%;
	
}
#me .post h4
{
	display: inline-block;
	position: absolute;
	margin:1.5% 0.4%;

}
#me .post h5
{
	display: inline-block;
	position: absolute;
	margin:5% 0.4%;

}

#me .post p
{
	margin-top: 1.5%;
}
/* end massage box*/

/**********************************************************************************************/

#you .post
{
	width: 95%;
	min-height:100px;
	margin: auto;
	margin-top:0%;
	position: relative;
	text-align: right;
	direction: rtl;
	background-color:#fff;
	
}
#you .post img:first-child
{
	width: 50px;
	height: 50px;
	border-radius:50%;
	margin:0.4% 0.4%;
	
}
#you .post h4
{
	display: inline-block;
	position: absolute;
	margin:1.5% 0.4%;

}
#you .post h5
{
	display: inline-block;
	position: absolute;
	margin:5% 0.4%;

}
#you .post p
{
	
	
direction: ltr;
margin-top: 1.5;
	
}

/***************************************************************/
#send .message
{
	width: 50%;
	min-height:80px;
	border-radius: 4px;
	text-align: left;
	background-color:#fff;
	position: fixed;
	top:88.1%;
	left: 23.5%;
	z-index: 3;
}
#send .message img:first-child
{
	width: 50px;
	height: 50px;
	border-radius:50%;
	margin:0.4% 0.4%;
	
}
#send .message h4
{
	display: inline-block;
	position:absolute;
	top:28%;
	left: 9%;
}
#send  textarea
{	position:absolute;
	top:30%;
	left: 13%;
	width: 77%;
	border-radius: 4px;
}
#send  input[type="submit"]
{	position:absolute;
	top:35%;
	left: 92%;
	width: 7%;
	border-radius: 4px;
	background-color: steelblue;
}

